<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="UTF-8">
    <title>导出</title>
    <link type="text/css" rel="stylesheet" th:href="@{/snackbar.css}">
    <script type="application/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
    <script type="application/javascript">
        $(function () {
            function toast(text) {
                const toast_time = new Date().getTime();
                // 内部添加元素
                let snackbar = $("<div id=\"snackbar-" + toast_time + "\" class=\"show\">"+ text + "</div>");
                $("#snackbar-list").append(snackbar);
                setTimeout(function () {
                    snackbar.remove();
                }, 3000);
            }
            /* 使用button时这个生效 */
            $("#start").click(function () {
                const data = {};
                const text = $("#form_export").serializeArray();
                $.each(text, function () {
                    data[this.name] = this.value;
                });
                $.ajax({
                    url: "export/post",
                    data: JSON.stringify(data),
                    method: "post",
                    contentType: "application/json;charset=UTF-8",
                    success: function (body) {
                        if (20000 !== body.code) {
                            toast(body.message);
                        } else {
                            const source = new EventSource("export/start");
                            source.onmessage = function (event) {
                                console.log(JSON.parse(event.data));
                                logging.val(logging.val() + JSON.parse(event.data).text + "\n");
                                // https://stackoverflow.com/questions/8467368/scroll-to-down-in-textarea-with-jquery
                                if (logging.length)
                                    logging.scrollTop(logging[0].scrollHeight - logging.height());
                            };
                            source.onerror = function (event) {
                                $("#file-list-div").load("export/fragment");
                                source.close();
                            }
                        }
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR.responseJSON.message);
                        toast(jqXHR.responseJSON.message);
                    }
                });
                return false;
            });
            $("#stop").click(function () {
                $.ajax({
                    url: "export/stop",
                    method: "post",
                    contentType: "application/json;charset=UTF-8",
                    success: function (body) {
                        toast(body.message);
                    },
                    error: function (jqXHR) {
                        console.log(jqXHR.responseJSON.message);
                        toast(jqXHR.responseJSON.message);
                    }
                });
                return false;
            });
            const logging = $("#logging");
            $("#clear_log").click(function () {
                logging.val("");
                return false;
            });
        });
    </script>
</head>
<body>
<div>
    <form id="form_export" th:action="@{/export/post}" method="post">
        <div style="padding: 5pt"><span>连接：</span><label>
            <select name="id">
                <option th:each="connection : ${connections}" th:text="${connection.name}" th:value="${connection.id}"></option>
            </select>
        </label></div>
        <div style="padding: 5pt; display: flex"><span>SQL：</span><label style="padding: 5pt">
            <textarea name="sql" style="height: 240pt; width: 480pt; min-height: 240pt; min-width: 480pt"></textarea>
        </label><label style="padding: 5pt">
            <textarea id="logging" style="height: 240pt; width: 480pt; min-height: 240pt; min-width: 480pt" readonly="readonly"></textarea>
        </label></div>
        <div style="padding: 5pt"><span>快速分页排序栏：</span><label>
            <input name="offsetColumn" type="text">
        </label></div>
        <div style="padding: 5pt">
            <button type="reset">复位</button>
            <button id="start">导出</button>
<!--            <input type="submit" value="导出">-->
            <button id="stop">停止</button>
            <button id="clear_log">清空日志</button>
        </div>
    </form>
    <div id="file-list-div">
        <ul th:fragment="file-list">
            <li th:each="file : ${files}">
                <a th:text="${file.name}" th:href="${file.url}"></a>
            </li>
        </ul>
    </div>
    <div id="snackbar-list"></div>
</div>
</body>
</html>
